@import 'includes/fonts.scss';

@import 'includes/vars.scss';

@import 'includes/reset.scss';

html,
body{
	height: 100%;
	margin: 0;
}

body{
	background-color: rgba(236, 240, 241,1.0);
	font-family: 'Open Sans';
}
.btn{
	cursor: pointer;
	border: none;
	background-color: transparent;
}
.layout{
	padding: 70px 0 0 $navbar-width;
}
.content{
	padding: 25px;
}



@import 'components/navbar.scss';

@import 'components/topbar.scss';

@import 'components/song-list.scss';