.layout__topbar{
	height: 70px;
	position: fixed;
	padding: 13px;
	right: 0;
	top: 0;
	background-color: $navbar-color;
	width: calc(100% - 250px);
}
.search{
	position: relative;
	&__title{
		margin: 0;
		position: absolute;
		left: 0;
		top: 50%;
		color: #fff;
		font-size: 24px;
		cursor: pointer;
		transform: translateY(-50%);
	}
	&__form{
		display: block;
		width: 315px;
		height: 43px;
		padding: 4px 0 5px 12px;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		background-color: rgba(255,255,255,.3);
		transition: .5s;
		position: relative;
		&.search__form_hide{
			width: 50px;
			height: 45px;
			padding: 0;
			margin-left: 100px;
			background-color: transparent;
			&:hover{
				background-color: rgba(255,255,255,.3);
			}
			.search-field{
				opacity: 0;
				z-index: -1;
				position: absolute;
			}
			.ui-select,
			.search-btn{
				position: absolute;
				opacity: 0;
				display: none;
			}
			.search__lable{
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.search-field{
				display: none;
			}
		}
	}
	&__lable{
		display: inline-block;
		cursor: pointer;
		position: absolute;
		width: 210px;
		z-index: 1;
		top: 4px;
		left: 12px;
		bottom: 5px;
		height: 35px;
		&_icon{
			font-size: 24px;
			color: #fff;
			line-height: 35px;
		}
	}
	&-field{
		border: none;
		background-color: transparent;
		padding: 5px;
		// border: 1px solid red;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
		width: 170px;
		left: 42px;
		position: absolute;
		transition: 1s;
		cursor: pointer;
		&:focus{
			box-shadow: 0 0 1px #fff;
		}
	}
	&-btn{
		position: absolute;
		top: 0;
		left: 100%;
		height: 43px;
		background-color: #fff;
		font-size: 20px;
		transition: .2s;

		width: 0;
		padding: 0;
		overflow: hidden;
		&.is-change{
			transition: .5s;
			width: 40px;
		}
	}
}
.ui-select{
	position: absolute;
	left: 225px;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	opacity: 0;
	margin-left: 5px;
	padding-left: 10px;
	margin-right: 5px;
	transition: .2s;
	&.is-show{
		opacity: 1;
	}
	&.active .ui-select-current:before{
		transform: translateY(-50%) rotate(-180deg);
	}
	&:after{
		position: absolute;
		content: '';
		border-right: 1px dashed #fff;
		height: 33px;
		left: 0;
		top: -5px;
	}
}
.ui-select-current{
	padding: 5px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 12px;
	position: relative;
	padding-right: 18px;
	width: 61px;
	&:before{
		position: absolute;
		content: '\f107';
		font-family: $FontAwesome;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
		font-size: 18px;
		transition: .2s;
	}
}
.ui-select-list{
	position: absolute;
	top: 33px;
	left: -100%;
	transform: translateX(50%);
	width: 120px;
	height: auto;
	display: block;
	max-height: 0;
	transition: .3s;
	overflow: hidden;
	background-color: rgba(69, 96, 124,1.0);
}
.ui-select-item{
	padding: 0 10px;
	cursor: pointer;
	color: #fff;
	transition: .3s;
	line-height: 30px;
	&:hover{
		background-color: $user-panel_expand;
	}
}
.ui-select-item[data-state="disabled"]{
	background-color: #333;
	color: #fff;
	text-align: center;
}
.ui-select-item.current{
	color: #fff;
}